.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 27px;

  &__title {
    font-size: 20px;
    line-height: 1.3;
    color: var(--color-dark);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    & p {
      margin: 0;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}
