.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);

  @include desktop {
    row-gap: 60px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 35px;
    max-width: 531px;

    @include tablet {
      row-gap: 20px;
    }

    @include mobile {
      display: contents;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.3;

    @include tablet {
      font-size: 45px;
    }

    @include mobile {
      order: -2;
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 20px;
    line-height: 1.4;

    @include tablet {
      font-size: 16px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__img {
    @include tablet {
      max-width: 40%;
      height: auto;
    }

    @include mobile {
      max-width: 100%;
      order: -1;
      margin-bottom: 20px;
    }
  }

  &__button {
    @include mobile {
      width: 100%;
      max-width: 390px;
    }
  }

  &__partners-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 37px;

    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 32px;
      column-gap: 38px;
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-s {
      grid-template-columns: 1fr;
      row-gap: 55px;
    }
  }

  &__partners-item {
    width: 100%;

    @include desktop {
      display: flex;
      justify-content: center;
    }
  }

  &__partners-image {
    height: auto;
    filter: grayscale(1);

    @include mobile {
      width: 45%;
    }

    @include mobile-s {
      width: 55%;
    }
  }
}
