.pagination {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:last-child {
    opacity: 0.3;
  }

  &__button {
    @include reset-button;

    &:not(.is-current) {
      @include hover {
        svg *[fill] {
          fill: var(--color-accent);
        }
      }
    }

    padding: 10px;

    svg *[fill] {
      fill: var(--color-light);
    }

    &.is-current {
      svg *[fill] {
        fill: var(--color-accent);
      }
    }
  }
}
