.process {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    --counterContent: counter(custom-counter);

    counter-increment: custom-counter;

    &:nth-child(-n + 9) {
      --counterContent: "0" counter(custom-counter);
    }
  }

  &__accordion {
    --indicatorRotate: 90deg;

    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-large);
    transition-duration: var(--transition-duration);

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      padding-bottom: 30px;
      border-bottom: var(--border);
    }

    &[open] {
      --indicatorRotate: 0;

      background-color: var(--color-accent);
    }

    &-indicator {
      @include square(58px);

      position: relative;
      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;

      &::before,
      &::after {
        @include abs-center;

        content: "";
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after {
        rotate: var(--indicatorRotate);
      }
    }

    &-title {
      display: flex;
      align-items: center;
      column-gap: 25px;

      &::before {
        content: var(--counterContent);
        font-size: 2em;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    &-body {
      padding-top: 30px;
    }
  }
}
