.studies {
  padding: 70px 60px 93px;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius-large);

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 128px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  &__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 186px;
    background-color: var(--color-light);
    top: 0;
    right: -64px;
  }

  &__desc {
    font-size: 18px;
    line-height: 1.3;
  }

  &__link {
    font-size: 20px;
    line-height: 1.3;
    color: var(--color-accent);
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 15px;

    @include hover {
      color: var(--color-light);
    }
  }
}
