.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.accent-title-lime,
.accent-title-light {
  padding: 0px 7px 0px 7px;
  border-radius: var(--border-radius-small);
}

.accent-title-lime {
  background-color: var(--color-accent);
}

.accent-title-light {
  background-color: var(--color-light);
}
